

/* Body Section */
body {
    background-color: dimgray;
    margin-left: 420px;
    margin-top: 50px;
    font-family: 'Audiowide', cursive;
}


.container {
    text-align: center;
    margin-top: 23px;
    border: 10px solid white;
    border-radius: 20px;
    width: 500px;
    padding: 10px;
}



/* Heading Section */
h1 {
    font-size: 40px;
    color: #00b2ff;
}



/* Table Section */
table {
    margin: auto;
}



/* Input Type */
input {
    padding-right: 15px;
    text-align: right;
    border-radius: 10px;
    font-size: 34px;
    width: 450px;
    margin-bottom: 30px;
    outline: none;
    border: 5px solid black;
}




/* Calculator Buttons */
button {
    cursor: pointer;
    border-radius: 10px;
    margin: 5px;
    color: blanchedalmond;
    font-size: 30px;
    background: teal;
    width: 100px;
    height: 45px;
    outline: none;
    border: 1px solid black;
}
